<h2 mat-dialog-title>Nova Movimentação</h2>

<mat-dialog-content>
    <form (ngSubmit)="save()" #form="ngForm">

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Produto</mat-label>
            <mat-select [(ngModel)]="productId" name="productId" required>
                <mat-option *ngFor="let p of productService.products()" [value]="p.id">
                    {{ p.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="type" name="type" required>
                <mat-option value="entrada">Entrada</mat-option>
                <mat-option value="saida">Saída</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Quantidade</mat-label>
            <input matInput type="number" min="1" [(ngModel)]="quantity" name="quantity" required />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Preço unitário</mat-label>
            <input matInput currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', precision: 2 }"
                [(ngModel)]="price" name="price"
                [placeholder]="type === 'entrada' ? 'Preço de compra' : 'Preço de venda'" required />
            <mat-hint *ngIf="type === 'entrada'">Preço real da compra deste lote</mat-hint>
            <mat-hint *ngIf="type === 'saida'">Preço real da venda desta saída</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Observação</mat-label>
            <textarea matInput [(ngModel)]="note" name="note" rows="2" placeholder="Opcional"></textarea>
        </mat-form-field>




    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!canSave">
        Salvar
    </button>
</mat-dialog-actions>